@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

html,
body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    line-height: 22px;
    background-color: #dde9f8;
    position: relative;
    margin-top: 40px;
}

.nav-style {
    background-color: rgb(56, 69, 85);
    padding-top: 15px;
    padding-bottom: 15px;
    height: 60px;
}

.nav-text{
    font-family: 'Georama', sans-serif;
    color: ivory;
    font-size:x-large;
}


/* Form styling */

.form-styling {
    position: relative;
    left:19%;
    margin: 5% 5% 10% 5%;
    background-color: rgb(56, 69, 85);
    padding: 35px 25px 35px 25px;
    border-radius: .6rem;
    width: 65%;
    text-align: left;
    margin: 20px 0 20px 0;
}

.form-labels {
    font-family: 'Georama', sans-serif;
    color:honeydew;
    font-size: large;
    padding: 15px 0px 15px 0px;
    display: inline-block;
}

#table-style {
    width: 100%;
}

.num-width{
    width: 30%;
}

.text-width{
    width: 100%;
}

.label-width{
    width: 36%;
    
}

.date-format{
    color: khaki;
    padding-left: 10px;
    position: relative;
    top: 5px;
    right: 8px;
    
}

.date-format1{
    color: honeydew;
    padding-left: 5px;
    padding-right: 5px;
    
}
