@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 22px;
    background-color: #c7d5d0;
    margin: 40px auto;
}

.nav-style {
    background-color: #8b261d;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 60px;
}

.nav-text {
    font-family: 'Georama', sans-serif;
    color: ivory;
    font-size: x-large;
}

.footer-style {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

/* Form styling */

.form-styling {
    position: absolute;
    background: linear-gradient(-153deg, rgba(35, 47, 73, 0.95), rgba(7, 21, 53, 0.95) 70%), #000b24;
    padding: 35px 25px 35px 25px;
    border-radius: .6rem;
    width: 56%;
    left: 22%;
    right: 22%;

}

@media (max-width: 992px) {
    .form-styling {
        width: 80%;
        left: 10%;
        right: 10%;
    }
}

.form-labels {
    font-family: 'Georama', sans-serif;
    color: #f2f2d6;
    font-size: large;
    padding: 15px 0px 15px 0px;
    display: inline-block;
}

.form-labels1 {
    font-family: 'Georama', sans-serif;
    color: #f2f2d6;
    font-size: large;
    padding: 15px 0px 15px 0px;
    display: inline-block;
}

.form-labels2 {
    font-family: 'Georama', sans-serif;
    color: #e4c385;
    font-size: large;
    padding: 15px 0px 15px 0px;
    display: inline-block;
}

.type-div {
    background-color: rgba(66, 66, 121, 0.651);
    border-radius: 10px;
    border-color: #f2f2d657;
    border-style: solid;
    border-width: 0.5px;
    padding-bottom: 15px;
    padding-top: 10px;
    margin-top: 15px;

}

.extra-margin {
    margin-right: 37px;
}

.type-padding {
    padding-left: 10%;
}

.hs-padding {
    padding-left: 15%;
}

#table-style {
    width: 100%;
}

.num-width {
    width: 30%;
    background: none !important;
    background-color: #8b261d8e !important;
    color: #f2f2d6 !important;
    border-color: #f2f2d6b6;
}

.text-width {
    width: 100% !important;
    background: none !important;
    background-color: #8b261d8e !important;
    color: #f2f2d6 !important;
    border-color: #f2f2d6b6;
}

.text-width1 {
    width: 80%;
}



.text-width2 {
    width: 100% !important;
    background: none !important;
    background-color: #8b261dbe !important;
    color: #f2f2d6 !important;
    border-color: #f2f2d6b6;
}

.text-width3 {
    width: 90%;
    background: none !important;
    background-color: #f1ee95 !important;
    color: #000000 !important;
    border-color: #f2f2d6b6;
}

input::placeholder {
    color: #9e9e8b !important;
}

textarea::placeholder {
    color: #9e9e8b !important;
}

input::-ms-input-placeholder {
    color: #9e9e8b !important;
}


textarea {
    background: none !important;
    background-color: #8b261d8e !important;
    color: #f2f2d6 !important;
    border-color: #f2f2d6b6;
}

select,
option {

    background: rgba(0, 0, 0, 0.466) !important;

}

.text-width1 {
    width: 80%;
}

.label-width {
    width: 36%;

}

.date-format {
    color: khaki;
    padding-left: 10px;
    position: relative;
    top: 5px;
    right: 8px;

}

.date-format1 {
    color: honeydew;
    padding-left: 5px;
    padding-right: 5px;

}

.cell-1 {
    background-color: rgb(44 62 98 / 97%);

}

.submit-style {
    color: #eeeeee;
    background-color: green;
    border-color: greenyellow;
    border-radius: 2rem;
    font-weight: 600;
    font-family: "Segoe UI";
    margin-top: 20px;
}

.img-style {
    position: absolute;
    top: 50%;
    left: 10%;
    margin-top: -50%;
}

.img-style1 {
    position: absolute;
    top: 70%;
    left: 20%;
    margin-top: -50%;
}